.header {
    background-color: black;
    color: #fff;
    padding: 10px;
    height: 7em;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
  }
  

.container{
    display: flex;
    background-color: aquamarine;
    position: absolute;
    margin: 40px 40px;
    width: 94%;
    top: 8em;
    height: 60em;
    min-height: 40em;
    z-index: 0;
}

.container__interaction{
    width: 80%;
    height: 40px;
}


.container__inside{
    border-left: 6px solid #fff;
    padding: 40px;
}

.container__inside-btn{
    display: block;
    margin-bottom: 8px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    height: 30px;
    font-size: 20px;
}

.footer{
    display: flex;
    position: absolute;
    bottom: -80%;
    width: 100%;
    background-color: black;
    color: #fff;
    height: 50px;
    align-items: center;
    justify-content: center;
}


/*Barra lateral principal*/
body::-webkit-scrollbar {
    width: 8px;
  }
  
  body::-webkit-scrollbar-track {
    background: #2E2E2E;
  }
  
  body::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
  }
  
  body::-webkit-scrollbar-thumb:hover {
    background: #555;
  }