.header__link{
    display: flex;
    position: absolute;
    right: 5em;
    top: 2em;
}

.link{
    display: inline-block;
    text-align: center;
    margin: 10px;
    text-decoration: none;
    background-color: darkgreen;
    color: #fff;
    height: 3em;
    line-height: 3em;
    width: 8em;
}
